 
.title {
  font-size: 7em;
}


.button {
  margin-top:20px;
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: #ffffff;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 200px;
}

.button:after {
  content: "";
  background-color: #ffac00;
  width: 200px;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.button:hover:after {
  top: 0px;
  left: 0px;
}
@media only screen and (min-width: 768px) and (max-width: 1000px) {
 .title {
    font-size: 5em;
  }
}
 
 
@media (max-width: 768px) {
 .title {
    font-size: 4em;
  }
.space  {
  height: 20px;
}
 
  .button {
    padding: 13px 50px 13px;
  }}
