@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,300;0,400;0,500;0,900;1,700&display=swap");
 
$light-color: white;
$dark-color: black;
$pink: #e100ff;
$yellow: #dfb55e;
$red: #542d2e;

:root {
  font-family: "Raleway", sans-serif;
}
html {
  box-sizing: border-box;

 font-size: 16px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
  width: 100%;

 
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

 .black{
   background-color: #000000;
 }
.sliderContainer {
  margin: 0;
  max-height: 100vh;
  display: flex;
}
.centrado {
  display: flex;
  align-items: center;
 
}
.imagePersonal {
  display: flex;
  z-index: 1;
}
.textSlider {
  z-index: 1;
  p {
    color: #a2a2a2;
    font-size: 1rem;
    text-align: left;
  }
}
.space{
  margin:70px
}
body{
  background-color: #000000!important;
}
h4 {
  font-size: 1.2em !important;
  color: $yellow;
  margin-top: 0px !important;
  text-transform: uppercase;
  display: block;
  margin-bottom: -20px !important;
  letter-spacing: 4px;
  text-align: left;
}
h1 {
  font-size: 5em!important;
  color: $light-color;
  text-align: left;
  font-weight: 700 !important;
  display: grid;
 .menor{
   font-size: 5em!important;
 }
  span {
    justify-content: center;

    color: #000000;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;

    letter-spacing: 5px;
  }
}
.circle {
  margin-left: 1%;
  margin-top: -300px;
  z-index: 0;
}
.secondary {
  font-size: 3em !important;

  margin-top: 50px;
}

.third {
 
  display: block;
  text-align: rightt;
}
$base: 0.6rem;
.chevron {
  position: absolute;
  width: $base * 3.5;
  height: $base * 0.8;
  opacity: 0;
  transform: scale(0.3);
  animation: move-chevron 3s ease-out infinite;
}

.chevron:first-child {
  animation: move-chevron 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  animation: move-chevron 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
  content: "";
  position: absolute;
  top: 0;
  height: 100%;
  width: 50%;
  background: #ffffff;
}

.chevron:before {
  left: 0;
  transform: skewY(30deg);
}

.chevron:after {
  right: 0;
  width: 50%;
  transform: skewY(-30deg);
}

@keyframes move-chevron {
  25% {
    opacity: 1;
  }
  33.3% {
    opacity: 1;
    transform: translateY($base * 3.8);
  }
  66.6% {
    opacity: 1;
    transform: translateY($base * 5.2);
  }
  100% {
    opacity: 0;
    transform: translateY($base * 8) scale(0.5);
  }
}
// .backgroundImage {
//   height: 100vh;
//   background-image: var(--image);
//   background-position: center;
//   background-repeat: no-repeat;

// }
// animation duration controls the length of the entire animation
$animation-duration: 1000ms;

//-- Lets get started!
svg {
  display: block;
  max-width: 100%;
  height: auto;
}
.chartSpace {
  display: block;
  width: -webkit-fill-available;
  z-index: 1;
}
.container {
  width: 80% !important;
}
.textRight {
  text-align: right;
}
//-
// The artwork layer controls the vertical movement and scale of the entire animation
.effectUp {
  // animation: effectUp 1000ms ease-in-out;
  // display: block;
  // position: absolute;
  // z-index: 0;
  // margin-right: 45%;

  animation: effectUp 1000ms ease-in-out;
  display: block;
  position: relative;
  z-index: 0;
  margin-right: 45%;
}
@keyframes effectUp {
  000% {
    transform: translateY(900px);
  }
}
.effectLeft {
  animation: effectLeft 200ms ease-in-out;
}
@keyframes effectLeft {
  000% {
    transform: translateX(-900px);
    opacity: 0;
    animation-delay: 1s;
  }
  100% {
    opacity: 1;
    visibility: initial;
  }
}
.effectLeft2 {
  animation: effectLeft 500ms ease-in-out;
}
@keyframes effectLeft2 {
  000% {
    transform: translateX(-500px);
    opacity: 0;
    animation-delay: 1s;
  }
  100% {
    opacity: 1;
    visibility: initial;
  }
}
.effectRight {
  animation: effectRight 1000ms ease-in-out !important;
  z-index: 2;
}
@keyframes effectRight {
  000% {
    transform: translateX(900px);
    opacity: 0;
    animation-delay: 1s;
  }
  100% {
    opacity: 1;
    visibility: initial;
  }
}
.effectDown {
  animation: effectDown $animation-duration ease-in-out;
  margin-left: 15%;

  display: block;
  z-index: 0;
  position: absolute;
}
@keyframes effectDown {
  000% {
    transform: translateY(-900px);
    opacity: 0;
    animation-delay: 1s;
  }
  100% {
    opacity: 1;
    visibility: initial;
  }
}

  

//SKILLS

#techList {
  color: #ffffff;
  text-transform: uppercase;
  display: inline-block;
 
}
.react {
  letter-spacing: -0.05em;
  font-size: 2.5rem;
}
.html5 {
  font-weight: 300;
  letter-spacing: -0.05em;
  font-size: 2rem;
  margin-right: 20px;
}

.css {
  font-size: 3rem;
}

.wordpress {
  letter-spacing: -0.1em;
  font-weight: 400;
  font-size: 2rem;
  // background-image: linear-gradient(to right, #000000, #542d2e);
  padding: 10px;
}

.express {
  letter-spacing: 1.8rem;
  font-weight: 300;
 
  font-size: 2rem;
}

.responsive {
  font-weight: 300;
  letter-spacing: -0.03em;
  word-spacing: 0.3em;
}

.javascript {
  font-weight: 400;
  letter-spacing: 1.4em;
  font-size: 1rem;
  padding: 10px;
}

.node {
  letter-spacing: 0.045em;
  font-weight: 700;
  font-size: 1.5rem;
  margin-right: 10px;
  padding-right: 10px;
}

.python {
  font-weight: 700;
  letter-spacing: -0.01em;
  font-size: 2.5rem;
  // background-image: linear-gradient(to right, #000000, #dfb55e);
}

.mongodb {
  font-weight: 300;
  letter-spacing: 0.5em;
  margin-right: 100px;
  margin-left: 100px;
}

.sql {
  font-weight: 700;
  letter-spacing: 0.1em;
  word-spacing: 0.2em;
  font-size: 1.5rem;
}


//cofee
.ingrid {
 
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  width: 100%;
}
.container{
  height:100vh;
  line-height: 100vh;
  margin-top:5vh
}
 .row{
  display:inline-block;
  vertical-align: middle;
  line-height: normal;
  width: -webkit-fill-available;
 }
 
 //begin works
 .home-work_livecontrol-list {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 3.5em;
  grid-row-gap: 3.5em;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}


.col-item-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    height: 52.08em;
    padding: 3em;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-radius: 2em;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    -o-object-fit: fill;
    object-fit: fill;
}
 .item{
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
  opacity: 1;
 }

 .styled-subheading-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.styled-subheading-circle {
  width: 0.52em;
  height: 0.52em;
  margin-right: 0.73em;
  border-radius: 50%;
  background-color: #f76236;
}

.styled-subheading {
  margin-top: 0px;
  font-family: 'Gt america extended', sans-serif;
  font-size: 0.8em;
  font-weight: 700;
  letter-spacing: 0.78em;
  text-transform: uppercase;
}

.work-cms_heading {
  font-size: 2.5em;
  text-transform: capitalize;
}
.work-cms_line-wrapper {
  max-width: 5.21em;
  margin-bottom: 1.56em;
}

//header

.MuiDrawer-paper {
 
  position: relative!important;
 }

  .MuiPaper-root{
    background: black!important;
  }