@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,300;0,400;0,500;0,900;1,700&display=swap");
$background-color: rgb(12, 6, 22);
$light-color: white;
$dark-color: black;
$pink: #e100ff;
$yellow: #dfb55e;
$red: #542d2e;

:root {
  font-family: "Raleway", sans-serif;
}
html {
  box-sizing: border-box;
  background: black;
  // font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, "PingFang TC", "Heiti TC", 微軟正黑體, sans-serif;
  font-size: 16px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: $background-color;
  width: 100%;
}
.sliderContainer {
  margin: 0;
  max-height: 100vh;
  display: flex;
}
.centrado {
  display: flex;
  align-items: center;
  margin-top: 15%;
}
.imagePersonal {
  display: flex;
  z-index: 1;
}
.textSlider {
  z-index: 1;
  p {
    color: #a2a2a2;
    font-size: 1rem;
    text-align: left;
  }
}
h4 {
  font-size: 1.2em !important;
  color: $yellow;
  margin-top: 0px !important;
  text-transform: uppercase;
  display: block;
  margin-bottom: -20px !important;
  letter-spacing: 4px;
  text-align: left;
}
h1 {
  font-size: 4em !important;
  color: $light-color;
  text-align: left;
  font-weight: 700 !important;
  display: grid;

  span {
    justify-content: center;

    color: #000000;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;

    letter-spacing: 5px;
  }
}
.circle {
  margin-left: 1%;
  margin-top: -300px;
  z-index: 0;
}
.secondary {
  font-size: 3em !important;
  text-align: end;
  margin-top: 100px;
}

.third {
  margin-top: 50px;
  display: block;
}
$base: 0.6rem;
.chevron {
  position: absolute;
  width: $base * 3.5;
  height: $base * 0.8;
  opacity: 0;
  transform: scale(0.3);
  animation: move-chevron 3s ease-out infinite;
}

.chevron:first-child {
  animation: move-chevron 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  animation: move-chevron 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
  content: "";
  position: absolute;
  top: 0;
  height: 100%;
  width: 50%;
  background: #ffffff;
}

.chevron:before {
  left: 0;
  transform: skewY(30deg);
}

.chevron:after {
  right: 0;
  width: 50%;
  transform: skewY(-30deg);
}

@keyframes move-chevron {
  25% {
    opacity: 1;
  }
  33.3% {
    opacity: 1;
    transform: translateY($base * 3.8);
  }
  66.6% {
    opacity: 1;
    transform: translateY($base * 5.2);
  }
  100% {
    opacity: 0;
    transform: translateY($base * 8) scale(0.5);
  }
}
// .backgroundImage {
//   height: 100vh;
//   background-image: var(--image);
//   background-position: center;
//   background-repeat: no-repeat;

// }
// animation duration controls the length of the entire animation
$animation-duration: 1000ms;

//-- Lets get started!
svg {
  display: block;
  max-width: 100%;
  height: auto;
}
.chartSpace {
  display: block;
  width: -webkit-fill-available;
  z-index: 1;
}
.container {
  width: 80% !important;
}
.textRight {
  text-align: right;
}
//-
// The artwork layer controls the vertical movement and scale of the entire animation
.effectUp {
  // animation: effectUp 1000ms ease-in-out;
  // display: block;
  // position: absolute;
  // z-index: 0;
  // margin-right: 45%;

  animation: effectUp 1000ms ease-in-out;
  display: block;
  position: relative;
  z-index: 0;
  margin-right: 45%;
}
@keyframes effectUp {
  000% {
    transform: translateY(900px);
  }
}
.effectLeft {
  animation: effectLeft 200ms ease-in-out;
}
@keyframes effectLeft {
  000% {
    transform: translateX(-900px);
    opacity: 0;
    animation-delay: 1s;
  }
  100% {
    opacity: 1;
    visibility: initial;
  }
}
.effectLeft2 {
  animation: effectLeft 500ms ease-in-out;
}
@keyframes effectLeft2 {
  000% {
    transform: translateX(-500px);
    opacity: 0;
    animation-delay: 1s;
  }
  100% {
    opacity: 1;
    visibility: initial;
  }
}
.effectRight {
  animation: effectRight 1000ms ease-in-out !important;
  z-index: 2;
}
@keyframes effectRight {
  000% {
    transform: translateX(900px);
    opacity: 0;
    animation-delay: 1s;
  }
  100% {
    opacity: 1;
    visibility: initial;
  }
}
.effectDown {
  animation: effectDown $animation-duration ease-in-out;
  margin-left: 15%;

  display: block;
  z-index: 0;
  position: absolute;
}
@keyframes effectDown {
  000% {
    transform: translateY(-900px);
    opacity: 0;
    animation-delay: 1s;
  }
  100% {
    opacity: 1;
    visibility: initial;
  }
}

//swi´

// .appSlider {
//   height: 100%;
// }
.swiper-slide-active {
  height: 100vh !important;
}
.swiper-slide-next {
  height: 100vh !important;
  width: 100%;
}
body {
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}
.right {
  text-align: rigth;
  display: flex;
}
.swiper {
  width: 100%;

  .wrap {
    box-sizing: border-box;
  }
  #content {
    box-sizing: border-box;
  }
  .swiper-container {
    max-height: 100%;
  }
}
hr {
  width: 9.53em;
  margin-top: 1.35em;
  margin-bottom: 1.35em;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: black;
  height: 100vh;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: block;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;

  object-fit: cover;
}

//SKILLS

#techList {
  color: #ffffff;
  display: inline-block;
  text-align: left;
}

.react {
  letter-spacing: -0.05em;
  font-size: 2.5rem;
  animation: effectDown 0.5s forwards linear;

  // background-image: linear-gradient(to right, #000000, #d6ae5b);
}
.html5 {
  font-weight: 300;
  letter-spacing: -0.05em;
  font-size: 2rem;
  margin-right: 20px;
  animation: effectDown 0.5s forwards linear;
}

.css {
  letter-spacing: 0.01em;
  font-weight: 500;
  transform: rotate(90deg);
  font-size: 3rem;
}

.wordpress {
  letter-spacing: -0.1em;
  font-weight: 400;
  font-size: 2rem;
  animation: effectDown 0.5s forwards linear;
  // background-image: linear-gradient(to right, #000000, #542d2e);
  padding: 10px;
}

.express {
  letter-spacing: 1.8rem;
  font-weight: 300;
 
  font-size: 2rem;
}

.responsive {
  font-weight: 300;
  letter-spacing: -0.03em;
  word-spacing: 0.3em;
}

.javascript {
  font-weight: 400;
  letter-spacing: 1.4em;
  font-size: 1rem;
  // background: #231f20;
  padding: 10px;
}

.node {
  letter-spacing: 0.045em;
  font-weight: 700;
  font-size: 1.5rem;
  // background: #1c0f0f;
  margin-right: 10px;
  padding-right: 10px;
}

.python {
  font-weight: 700;
  letter-spacing: -0.01em;
  font-size: 2.5rem;
  // background-image: linear-gradient(to right, #000000, #dfb55e);
}

.mongodb {
  font-weight: 300;
  letter-spacing: 0.5em;
  margin-right: 100px;
  margin-left: 100px;
}

.sql {
  font-weight: 700;
  letter-spacing: 0.1em;
  word-spacing: 0.2em;
  font-size: 1.5rem;
}

.flex {
  display: flex;
}

//cofee
.ingrid {
  display: inline-grid !important;
  margin-top: 15%;
}
.containerCoffee {
  width: 300px;
  height: 280px;
  position: relative;
  margin-top: 200px;
  margin-left: 200px;
}
.coffee-header {
  width: 100%;
  height: 80px;
  top: 0;
  left: 0;
  background-color: #ffffff;
  border-radius: 10px;
}
.coffee-header__buttons {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 25px;
  background-color: #282323;
  border-radius: 50%;
}
.coffee-header__buttons::after {
  content: "";
  width: 8px;
  height: 8px;
  position: absolute;
  bottom: -8px;
  left: calc(50% - 4px);
  background-color: #615e5e;
}
.coffee-header__button-one {
  left: 15px;
}
.coffee-header__button-two {
  left: 50px;
}
.coffee-header__display {
  width: 50px;
  height: 50px;
  position: absolute;
  top: calc(50% - 25px);
  left: calc(50% - 25px);
  border-radius: 50%;
  background-color: $yellow;
  border: 5px solid $yellow;
  box-sizing: border-box;
}
.coffee-header__details {
  width: 8px;
  height: 20px;
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #9b9091;
  box-shadow: -12px 0 0 #9b9091, -24px 0 0 #9b9091;
}
.coffee-medium {
  width: 90%;
  height: 160px;
  position: absolute;
  top: 80px;
  left: calc(50% - 45%);
  background-color: #7a622f;
}
.coffee-medium:before {
  content: "";
  width: 90%;
  height: 100px;
  background-color: #000000;
  position: absolute;
  bottom: 0;
  left: calc(50% - 45%);
  border-radius: 20px 20px 0 0;
}
.coffe-medium__exit {
  width: 60px;
  height: 20px;
  position: absolute;
  top: 0;
  left: calc(50% - 30px);
  background-color: #231f20;
}
.coffe-medium__exit::before {
  content: "";
  width: 50px;
  height: 20px;
  border-radius: 0 0 50% 50%;
  position: absolute;
  bottom: -20px;
  left: calc(50% - 25px);
  background-color: #231f20;
}
.coffe-medium__exit::after {
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  bottom: -30px;
  left: calc(50% - 5px);
  background-color: #231f20;
}
.coffee-medium__arm {
  width: 70px;
  height: 20px;
  position: absolute;
  top: 15px;
  right: 25px;
  background-color: #231f20;
}
.coffee-medium__arm::before {
  content: "";
  width: 15px;
  height: 5px;
  position: absolute;
  top: 7px;
  left: -15px;
  background-color: #9e9495;
}
.coffee-medium__cup {
  width: 80px;
  height: 47px;
  position: absolute;
  bottom: 0;
  left: calc(50% - 40px);
  background-color: #fff;
  border-radius: 0 0 70px 70px / 0 0 110px 110px;
}
.coffee-medium__cup::after {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  top: 6px;
  right: -13px;
  border: 5px solid #fff;
  border-radius: 50%;
}
@keyframes liquid {
  0% {
    height: 0px;
    opacity: 1;
  }
  5% {
    height: 0px;
    opacity: 1;
  }
  20% {
    height: 62px;
    opacity: 1;
  }
  95% {
    height: 62px;
    opacity: 1;
  }
  100% {
    height: 62px;
    opacity: 0;
  }
}
.coffee-medium__liquid {
  width: 6px;
  height: 63px;
  opacity: 0;
  position: absolute;
  top: 50px;
  left: calc(50% - 3px);
  background-color: #74372b;
  animation: liquid 4s 4s linear infinite;
}
.coffee-medium__smoke {
  width: 8px;
  height: 20px;
  position: absolute;
  border-radius: 5px;
  background-color: #b3aeae;
}
@keyframes smokeOne {
  0% {
    bottom: 20px;
    opacity: 0;
  }
  40% {
    bottom: 50px;
    opacity: 0.5;
  }
  80% {
    bottom: 80px;
    opacity: 0.3;
  }
  100% {
    bottom: 80px;
    opacity: 0;
  }
}
@keyframes smokeTwo {
  0% {
    bottom: 40px;
    opacity: 0;
  }
  40% {
    bottom: 70px;
    opacity: 0.5;
  }
  80% {
    bottom: 80px;
    opacity: 0.3;
  }
  100% {
    bottom: 80px;
    opacity: 0;
  }
}
.coffee-medium__smoke-one {
  opacity: 0;
  bottom: 50px;
  left: 102px;
  animation: smokeOne 3s 4s linear infinite;
}
.coffee-medium__smoke-two {
  opacity: 0;
  bottom: 70px;
  left: 118px;
  animation: smokeTwo 3s 5s linear infinite;
}
.coffee-medium__smoke-three {
  opacity: 0;
  bottom: 65px;
  right: 118px;
  animation: smokeTwo 3s 6s linear infinite;
}
.coffee-medium__smoke-for {
  opacity: 0;
  bottom: 50px;
  right: 102px;
  animation: smokeOne 3s 5s linear infinite;
}
.coffee-footer {
  width: 95%;
  height: 15px;
  position: absolute;
  bottom: 25px;
  left: calc(50% - 47.5%);
  background-color: #fff;
  border-radius: 10px;
}
.coffee-footer::after {
  content: "";
  width: 106%;
  height: 26px;
  position: absolute;
  bottom: -25px;
  left: -8px;
  background-color: #000;
}
.centrado {
  a {
    padding: 10px;
    background: $yellow;
    color: black;
    border-radius: 20px;
    margin-top: 30px;
    display: table-caption;
  }
}

.boxes {
  display: flex;

  .box {
    background-color: #fff;
    flex: 1 1 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font: 1em/1 "Poppins", sans-serif;
    font-weight: 400;
    transition: all 0.6s ease-out;
    position: relative;

    &__title {
      font-size: 3vw;
      color: white;
      margin-bottom: 0.5em;
      transition: all 0.3s ease-out 0.1s;
    }
    &__content {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(1, 1, 1, 0.5);
      // backdrop-filter: blur(6px);
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      justify-items: center;
      align-content: center;
      align-items: center;
      opacity: 0;
      transition: all 0.3s ease-in;
      text-align: center;
      padding: 2vw;
    }
    &__summary {
      font-size: 1.2vw;
      line-height: 1.4;
      color: white;
      margin: 0 auto;
      max-width: 22vw;
      transition: all 0.3s ease-out 0.1s;
    }

    // 		Background color for boxes
    &:nth-child(1) {
      background-color: #2b50aa;
      background: url(https://images.unsplash.com/photo-1485871981521-5b1fd3805eee?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80)
        center/cover no-repeat;
    }
    &:nth-child(2) {
      background-color: #ff9fe5;
      background: url(https://images.unsplash.com/photo-1590655473571-742fd3b29b78?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80)
        center/cover no-repeat;
    }
    &:nth-child(3) {
      background-color: #ffd4d4;
      background: url(https://images.unsplash.com/photo-1465850238811-80ce79442c7a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1332&q=80)
        center/cover no-repeat;
    }
    &:nth-child(4) {
      background-color: #ff858d;
      background: url(https://images.unsplash.com/photo-1585614938326-d57d07333bc0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80)
        center/cover no-repeat;
    }

    // 		Hover effect

    &:hover {
      flex: 1 1 75%;
      .box__title {
        letter-spacing: 0;
      }
      .box__content {
        opacity: 1;
      }
    }
  }
}
